body {
    background-color: rgb(1, 5, 44);
}

.header {
    background-color: brown;
    border-radius: 20px;

 h1 {
    text-align: center;
}
}

.nav {
    background-color: wheat;
    border-radius: 20px;

    h1 {
        margin-top: 0%;
        text-align: center;
    }

    .nav-link {
        display: flex;
        justify-content: space-evenly;
        list-style: none;

        li {
            padding: 10px;
            font-size: large;
            a {
                text-decoration: none;
                color: black;
            }
            a:hover {
                padding: 10px;
                border-radius: 20px;
                color: white;
                background-color: brown;
            }
        }
    }
}

#container {
    display: flex;
    flex-direction: row;

.aside {
    background-color: wheat;
    overflow: hidden;
    border-radius: 20px;
    width: 25%;
    height: 630px;
    margin: 0px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-color: transparent transparent;

    h1 {
        background-color: brown;
        border-radius: 20px;
        text-align: center;
        justify-content: center;
        padding: 10px;
        display: flex;
    }
}

.main {
    background-color: wheat;
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px;
    height: 650;

    .maint {
        padding: 10px;
        text-align: center;
        background-color: brown;
        border-radius: 20px
    }
}


    .article {
background-color: brown;
border-radius: 20px;
padding: 10px;
margin: 10px;
width: auto;

.gamabar {
    display: flex;
    width: auto;
    gap: 5px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-color: transparent transparent;
    
    .figure {
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        scroll-snap-align: start;
    }

}

        .text {
            display: flex;
            padding: 10px;
            background-color: wheat;
            border-radius: 20px;
    }
    
}

    .section {
    background-color: brown;
    padding: 10px;
    border-radius: 20px;
    width: auto;

    h1 {
        text-align: center;
    }
}
}

.footer {
    background-color: rgb(61, 61, 61);

    h1 {
        text-align: center;
        justify-content: center;
        padding: 10px;
        display: flex;
        align-items: center;
        height: 100%;
    }

    p {
        text-align: center;
        justify-content: center;
        padding: 10px;
        display: flex;
        align-items: center;
        height: 100%;
    }
}
    